@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

/* EN */
html[lang="en"] body {
  font-family: var(--font-en), sans-serif;
}

/* AR */
html[lang="ar"] body {
  font-family: var(--font-ar), sans-serif;
}

/* Display Fonts */

.font-display-en {
  font-family: var(--font-en-display), cursive;
}

.font-display-ar {
  font-family: var(--font-ar-display), sans-serif;
}

@layer utilities {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus {
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 9999s ease-in-out 0s;
    caret-color: white;
  }
}