.claude/
.claude/*
.claude/worktees
.claude/worktrees/agent-a1afb8f26e3365d04
rafiq-app
.claude/worktrees/agent-ab6064c8c9aeeed50
.claude/worktrees/agent-a82ea7b512e0a97be
.claude/worktrees/agent-a1fe126e0c99cbe39
.claude/worktrees/agent-a1afb8f26e3365d04
